.iconsText {
  display: inline-table;
  margin-top: -7px;
}

.container_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.individualCard {
  
  margin-top: 30px;
}

@media(min-width:1700px){
  .individualCard {
  width: 20vw;
    margin-top: 30px;
  }
}
