.button {
    

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-style: solid;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 17px;
    transition: all .5s ease-out;
    cursor: pointer;
    width: 177px;
    
  }

  .buttonClick {
    

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    background-color:#b09ae7;
    color: white;
    border-color: white;
    border-style: solid;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 17px;
    transition: all .5s ease-out;
    cursor: pointer;
    width: 177px;
    
  }
  
  .button:hover {
    background-color: #cb5694;
    border-color: #ec69af;

    transition: all 0.5s ease-out;
  }
  
  .button:focus {
    outline-width: 12px;
    outline-color: #f570b9a1;
    border-color: none;
    box-shadow: 0 0 8px 3px #e35c92;
    transition: all 0.5s ease-out;
  }

  
  