.truck{
    position: relative;
    
   
      
  }
  
  .truckContainer{
    margin: 0;
      position: relative;
      bottom: 490px;
      right: -654px;
  }
  
  .animations{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    /* bottom: 197px; */
    /* padding-left: 470px; */
    overflow: hidden;
    
  }
  
  .animationsContainer{
      width: 700px;
      position: relative;
      margin: 0;
      overflow: hidden;
  }

  .boxContainer{
    width: 108px;
    position: relative;
    right: -410px;
    bottom: 272px;
  }